<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Jamie Reid</title>
  <meta name="author" content="Jamie Reid" />
  <meta name="description" content="Ramblings and other things from Jamie's mind." />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
  <div class="header">
    <div class="container">
      <ul class="menu">
        <li><a href="/">About</a></li>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <li><a href="/catgories/{{ $name | urlize }}">{{ $name }}</a></li>
        {{ end }}
      </ul>

      <section class="name">
        <a href="/">Jamie<b>Reid</b></a>
      </section>
    </div>
  </div>

  <section class="container content">
