<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      The infrequent ramblings of my mind. 
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/posts">Posts</a></li>
      <li><a href="/categories/game-development">Game Dev</a></li>
      <li><a href="/categories/writing">Writing</a></li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <a href="https://twitter.com/jambulance"><i class="fa fa-twitter fa"></i></a>&nbsp;
    <a href="https://github.com/jamiereid"><i class="fa fa-github fa"></i></a>&nbsp;
    <a href="mailto:jamie@jre.id.au"><i class="fa fa-envelope fa"></i></a>&nbsp;

    <p class='footnote'>&copy; Jamie Reid {{.Now.Format "2006"}}. All rights reserved.</p>
  </div>
</div>
