{{ partial "header.html" . }}

            <div class="row header">
            </div>

            <div class="row">
                <div class="eight columns">
                  {{ range (.Paginator 5).Pages }}
                    <div class="post">
                      <h3 class="post-title">
                        <a href="{{ .RelPermalink }}">
                          {{ .Title }}
                        </a>
                      </h3>
                      <span class="post-date">{{ .Date.Format "Monday, January 2, 2006" }}</span>
                  </div>
                  {{ end }}
                  <div class="paginator">
                    {{ if .Paginator.HasPrev }}
                      <a class="btn btn-default goleft" href="{{ .Paginator.Prev.URL }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
  Previous</a>
                    {{ end }}
                    {{ if .Paginator.HasNext }}
                      <a class="btn btn-default goright" href="{{ .Paginator.Next.URL }}">Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </a>
                    {{ end }}
                  </div>
                </div>
                <div class="four columns sidebar">
                  {{ partial "column.html" . }}
                </div>
            </div>

{{ partial "footer.html" . }}
